@font-face {
	font-family: Gotham Rounded;
	src: url("fonts/gotham-rounded/GothamRounded-Bold.otf");
	font-weight: bold;
}

@font-face {
	font-family: Gotham Rounded;
	src: url("fonts/gotham-rounded/GothamRounded-Light.otf");
	font-weight: 300;
}

@font-face {
	font-family: Gotham Rounded;
	src: url("fonts/gotham-rounded/GothamRounded-Medium.otf");
	font-weight: normal;
}


body {	
	width: 1280px;
	height: 3595px;
	margin: auto;
}

.header {
	background-image: url("images/header.png");
	height: 745px;
}

.header h1 {
	position: absolute;
	top: 200px;
	left: 45%;
	letter-spacing: 2px;
	color: #ffffff;
	font-weight: bold;
	font-family: "Gotham Rounded";
	text-decoration	: none;
}

header {
	width: 100%;
	
}

header nav p {
	position: relative;
	top: 30px;
	margin-top: 0px;
	text-align: center;

}

header nav p a {
	margin: 38px;
	font-size: 16px;
	letter-spacing: 2px;
	color: #ffffff;
	font-weight: bold;
	font-family: "Gotham Rounded";
	text-decoration	: none;
}

header nav p a:hover {
	color: #985151;
}

.yourlife {
	position: relative;
	top: 32%;
	width: 50%;
	margin: auto;
	text-align: center;
}

.header_bigtext {
	position: relative;
	top: 2px;
	margin-bottom: 0px;
	bottom: 14px;
	font-size: 36px;
	letter-spacing: 5px;
	color: #ffffff;
	font-weight: normal;
	font-family: "Gotham Rounded";
}

.header_smalltext {
	margin-top: 8px;
	font-size: 16px;
	letter-spacing: 2px;
	color: #ffffff;
	font-weight: bold;
	font-family: "Gotham Rounded";
}

.get_started {
	margin-top: 8px;
	border: none;
	width: 166px;
	height: 49px;
	border-radius: 3px;
	background-color: #16a085;
	font-size: 12px;
	letter-spacing: 2px;

color: #ffffff;
font-weight: bold;
font-family: "Gotham Rounded";
}

.header_bot {
	text-align: center;
	position: relative;
	top: 205px;
}

.header_bot a {
	margin: 6px;
}

.rappresent {
	position: relative;
	background-image: url("images/hand.png");
	height: 792px;
}

.rappresent_elements {
	position: relative;
	top: 13.5%;
	left: 10%;
}

.rappresent_elements .title {
	margin-top: 0px;
	width: 32%;
	font-size: 18px;
	letter-spacing: 3px;
	color: #16a085;
	font-weight: bold;
	font-family: "Gotham Rounded";
}

.rappresent_elements .text {
	margin-top: 40px;
	width: 453px;
	height: 150px;
	line-height: 24px;
	font-size: 12px;
	letter-spacing: 2px;
	color: #373737;
	font-family: "Gotham Rounded";
	font-weight: 100;
}

.rappresent_elements .get_started {
	width: 192px;
	height: 51px;
	border-radius: 3px;
	background-color: #16a085;
	border: none;
}

.rappresent_elements .get_started:hover {
	cursor: pointer;
	background-color: #40AA40;
}

.design {
	width: 1280px;
	position: relative;
	bottom: 300px;
	z-index: 1;
	background-image: url("images/design.png");
	height: 558px;
}

.design .content {
	position: relative;
	top: 25%;
	left: 60%
}

.design .title {
	margin-top: 0px;
	font-size: 18px;
	letter-spacing: 3px;
	line-height: 22px;
	color: #16a085;
	font-weight: bold;
	font-family: "Gotham Rounded";
}

.design .small_text {
	margin-top: 40px;
	width: 513px;
	
	font-size: 12px;
	letter-spacing: 2px;
	line-height: 22px;
	color: #373737;
	font-family: "Gotham Rounded";
	font-weight: 100;
}

.design .learn_more {
	width: 192px;
	height: 51px;
	border: none;
	margin-top: 24px;
	background-color: #16a085;
	font-size: 12px;
	letter-spacing: 2px;
	line-height: 20px;
	color: #ffffff;
	font-weight: bold;
	font-family: "Gotham Rounded";
}

.design .learn_more:hover {
	cursor: pointer;
	background-color: #40AA40;
}

.design .nums {
	margin-top: 40px;
}

.design .nums p {
	display: inline;
	margin: 0px;
	font-size: 12px;
	letter-spacing: 2px;
	line-height: 22px;
	color: #373737;
	font-weight: bold;
	font-family: "Gotham Rounded";
}
.design .nums .swipe {
	margin-right: 20px;
}

.design .nums .swipe:hover {
	cursor: pointer;
}

.community {
	position: relative;
	bottom: 300px;
	z-index: 2;
	width: 1280px;
	height: 483px;
	background-color: #f5f6f7;
}

.community .arrows {
	position: relative;
	left: 87%;
	top: 19.7%;
}

.community .arrows .swipe {
	margin-right: 11px;
}

.community .arrows .swipe:hover{
	cursor: pointer;
}

.community .content {
	margin: auto;
	width: 80%;	
	position: relative; 
	top: 20.5%;
}

.community .content .text{
	width: 177px;
	height: 244px;
	text-align: center;
	float: left;
}

.community .content .text img{
	position: relative;
	top: 19%;
}

.community .content .text .text_header {
	margin-top: 69px;
font-size: 16px;
letter-spacing: 2px;
line-height: 20px;
color: #373737;
font-weight: bold;
font-family: "Gotham Rounded";
}

.community .content .text .small_text {
	margin-top: 20px;
width: 177px;
height: 177px;
font-size: 10px;
letter-spacing: 1.5px;
color: #373737;
font-weight: 500;
font-family: "Gotham Rounded";
}

.community .content .images {
	display: inline;
	float: right;
}

.community .content .images img{
	width: 370px;
	margin-left: 20px;
}

.subscribe {
	position: relative;
	bottom: 300px;
	background-image: url("images/subscribe.png");
	height: 790px;
}	

.subscribe .content {
	margin: auto;
	position: relative;
	top: 44%;
	text-align: center;

}

.subscribe .sub {
	margin-top: 0px;
	margin-bottom: 25px;
	text-align: center;
	font-size: 24px;
	letter-spacing: 4px;
	color: #ffffff;
	font-weight: bold;
	font-family: "Gotham Rounded";
}



.content form {
	width: 360px;
	margin: auto;
	
}
.content form input{
width: 280px;
height: 60px;
border-radius: 3px;
background-color: #ffffff;
float: left;
border: 0;
}

.check {
	border: 0;
	width: 63px;
	height: 62px;
	border-radius: 3px;
	background-color: #16a085;
	float: left;
	vertical-align: middle;
}

.check:hover {
	cursor: pointer;
	background-color: #40AA40;
}

.download {
	position: relative;
	bottom: 300px;
	width: 1280px;
	height: 396px;
	text-align: center;
	background-color: #f5f6f7;
}

.download .title {
	position: relative;
	
	top: 22%;
	margin-top: 0px;
	margin-bottom: 8px;
	font-size: 20px;
	letter-spacing: 3px;
	color: #373737;
	font-weight: bold;
	font-family: "Gotham Rounded";
}	

.download .small_text {
	position: relative;
	top: 22%;
	margin: auto;
	width: 877px;

font-size: 12px;
letter-spacing: 2px;
line-height: 22px;
color: #373737;
font-weight: 500;
text-transform: uppercase;
font-family: "Gotham Rounded";
}

.download .someclass {
	position: relative;
	top: 29%;
	width: 296px;
	padding: 0px;
	border: none;
	margin: 12px;
}

.download .someclass:hover {
	cursor: pointer;
}

.download .someclass .btn_leftpart {
	width: 240px;
	height: 36px;
	padding-top: 20px;
	text-align: center;
	border-radius: 3px 0px 0px 3px;
	background-color: #1abc9c;
	float: left;
	font-size: 18px;
	letter-spacing: 3px;
	color: #ffffff;
	font-weight: bold;
	font-family: "Gotham Rounded";
}

.download .someclass .btn_rightpart {
	width: 56px;
	height: 56px;
	border-radius: 0px 3px 3px 0px;
	background-color: #16a085;
	float: right;
}	

.download .someclass .btn_rightpart img {
	position: relative;
	top: 25%;
}

footer {
	position: relative;
	bottom: 300px;
}

.footer_info {
	position: relative;
	left: 10%;
	top: 40px;
	
	text-decoration: none;
	font-size: 14px;
	letter-spacing: 2px;
	color: #373737;
	font-weight: bold;
	font-family: "Gotham Rounded";
}

.footer_info .footer_nav {
	text-decoration: none;
	font-size: 14px;
	letter-spacing: 2px;
	color: #373737;
	font-weight: bold;
	font-family: "Gotham Rounded";
}

.footer_info .footer_nav:hover {
	color: red;
}

.footer_info p:not(.text) {
	display: inline;
	color: #14e114;
	font-size: 16px;
}

.footer_info .text {
	margin-top: 20px;
}

footer .logo {
	position: relative;
	left: 86%;
	bottom: 30px;
}
